.wd-good-list {
    .gl-good {
        text-align: center;
        
    }
    .imgbox{
        display: block;
        width: 120px;
        height: 120px;
        margin: 0 auto;
        &>img{
            width: 100%;
            display: block;
            padding-top: 20px;
        }
        }
    .filter-span{
        display:block;
        text-align: right;
        padding-right: 10px;
    }
    }

