.qf-good-list {
  .gl-good {
    text-align: center;
    &>img {
      display: block;
      width: 80px;
      height: 80px;
      margin: 0 auto;
    }
  }
  .filter-label {
    display: block;
    text-align: right;
    padding-right: 10px;
  }
  .table-desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-align: center;
    max-width: 125px;
    max-height: 70px;
    line-height: 35px;
    margin: 0 auto;
  }
  .table-btn {
    &>a:last-child {
      color: blue;
      margin-left: 10px;
    }
  }
}
