.zjr-good-list{
    img{
        width: 80px;
        height: 80px;
        margin-right: 20px;
    }
    p{
        text-align: center;
    }
    a{
        display: inline-block;
        margin-left: 10px;
    }
}