.xxl-good{
    .ant-image{
        display: block;
        margin: 0 auto;
        .ant-image-img{
            display: block;
            width: 80px;
            margin: 0 auto;
        }
    }
    
    // img{
    //     display: block;
    //     width: 80px;
    //     margin: 0 auto;
    // }
}
.qf-main{
    .xxl-shop-list{
        .xxl-Query{
            margin: 20px 0;
            .query{
                margin-left: 60px;
            }
            .query_cate{
                margin-left: 30px;
            }
        }
        
    }
}