.xxl-good{
    .ant-image{
        display: block;
        margin: 0 auto;
        .ant-image-img{
            display: block;
            width: 80px;
            margin: 0 auto;
        }
    }
    
    // img{
    //     display: block;
    //     width: 80px;
    //     margin: 0 auto;
    // }
}