body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ant-select{
  width:100%;
}
.ant-picker{
  width:100%;
}
.ant-pagination {
  display:none;
}
.col{
  text-align: center;
  border:1px solid #eee;
  cursor:pointer;
}
.Form_buttom{
  position:fixed;
  bottom:0;
  width:100%;
  height:45px;
  background:white;

  .ant-btn{
    position: relative;;
    right:-1000px;
    top:5px;
  }
}