body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ant-select{
  width:100%;
}
.ant-picker{
  width:100%;
}
.ant-pagination {
  display:none;
}
.col{
  text-align: center;
  border:1px solid #eee;
  cursor:pointer;
}
.Form_buttom{
  position:fixed;
  bottom:0;
  width:100%;
  height:45px;
  background:white;

  .ant-btn{
    position: relative;;
    right:-1000px;
    top:5px;
  }
}
.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
  background-color: #fafafa;
  min-height: 200px;
  text-align: center;
  padding-top: 80px;
}
.steps-action {
  margin-top: 24px;
}
.select_form{
  width:370px;
}
.ant-input-group-wrapper{
  width:370px;
}
.ant-input-prefix{
  width:20px;float:left;
 
}
.ant-input-affix-wrapper > input.ant-input {
  width:300px;float:left;
}