body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shawngood_list{
  .shawngood_search{
    margin:20px auto;
    .shawngood_searchtxt{
      text-align: right;
      padding-top: 5px;
    }
    .shawngood_add{
      text-align: right;
    }
  }
  .shawngood_img{
    text-align: center;
    &>img {
      display: block;
      width: 80px;
      height: 80px;
      margin: 0 auto;
    }
  }
}
.chat-box {
  width: 500px;
  padding: 30px;
  border: 1px solid #ccc;
  .row {
    line-height: 35px;
    img {
      display: inline-block;
      width: 100px;
      height: 20px;
    }
  }
}
