.xxl-form{
   background: #fff;
   .xxl-submi{
       .ant-col{
           margin-left: 300px;
           .ant-btn:first-child{
               background: #00ff00;
               color: #fff;
               margin-right: 20px;
           }
       }
   }
}