.qf-layout {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  .ant-layout {
    height: 100%;
  }
  .qf-sider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    background: #001529;
    overflow: auto;
    .qf-img{
      padding: 7px;
      &>img{
        width: 32px;
        height: 32px;
      }
      &>h1{
        display: inline-block;
        color: white;
        font-size: 18px;
      }
    }
    &>div {
      line-height: 40px;
      cursor: pointer;
      border-bottom: 1px solid #aaa;
      &>a {
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
        color: white;
      }
      &>a.on {
        background: orange;
      }
    }
  }
  .qf-header {
    position: absolute;
    top: 0;
    height: 60px;
    left: 200px;
    right: 0;
    padding: 15px;
    background-color: #fff;
  }
  .qf-main {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 200px;
    right: 0;
    background-color: #eee;
    &>div{
      &>div:nth-child(1) {
        width: 100%;
        position: absolute;
        top: 4px;
        padding: 15px;
        background: white;
        min-width: 750px;
      }
      &>div:nth-child(2) {
        position: absolute;
        top: 110px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        overflow: auto;
        background: white;
        padding: 15px;
        border-radius: 5px;
        padding-bottom: 100px;
        // height: 100%;
        min-width: 750px;
      }
    }
    
  }
}
