.qf-layout {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  .ant-layout {
    height: 100%;
  }

  .qf-sider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 150px;
    background-color: #FAFAFA;
    overflow: auto;
    border-right: 2px solid #ccc;

    .logo {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: 20px auto;
      display: flex;
      justify-content: center;
      overflow: hidden;

      &>img {
        width: 100%;
      }
    }

    &>div {
      text-align: center;
      line-height: 40px;
      cursor: pointer;
      border-bottom: 1px solid #aaa;

      &>a {
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
        color: white;
      }

      &>a.on {
        background: orange;
      }
    }
  }

  .qf-header {
    position: absolute;
    top: 0;
    height: 60px;
    left: 150px;
    right: 0;
    padding: 15px;
    background-color: #FAFAFA;
    border-bottom: 2px solid #ccc;
  }

  .qf-main {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 150px;
    right: 0;
    background-color: #FAFAFA;
    padding: 15px;

    &>div {
      height: 600px;
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      overflow: auto;
      background: white;
      padding: 15px;
      border-radius: 5px;
      padding-bottom: 100px;
      // height: 100%;
      min-width: 750px;
    }
  }
}