.qf-layout {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  .ant-layout {
    height: 100%;
  }
  .qf-sider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 150px;
    background: #001529;
    overflow: auto;
    &>div {
      text-align: center;
      line-height: 40px;
      cursor: pointer;
      border-bottom: 1px solid #aaa;
      &>a {
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
        color: white;
      }
      &>a.on {
        background: orange;
      }
    }
  }
  .qf-header {
    position: absolute;
    top: 0;
    height: 60px;
    left: 150px;
    right: 0;
    padding: 15px;
    background-color:white;
  }
  .qf-main {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 150px;
    right: 0;
    background-color: #eee;
    padding: 15px;
    &>div {
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      overflow: auto;
      background: white;
      padding: 15px;
      border-radius: 5px;
      padding-bottom: 100px;
      // height: 100%;
      min-width: 750px;
      .f-top{
        padding: 10px;
        .f-bd{
          color: #aaa;
          font-size: 14px;
        }
      }
      .f-detail{
        width: 100%;
        height: 100%;
        background-color: #cccccc;
        
      }
    }
  }
}
.f-dtop{
  width: 100%;
  height: 200px;
  background-color: #eee;
  margin-bottom: 20px;
  padding: 20px;
  &>.f-bd{
    color: #aaa;
    font-size: 14px;
  }
}
.f-demain{
  width: 100%;
  height: 240px;
  background: #eeeeee;
  padding: 20px;
  .f-jd{
    width: 100%;
    height: 40px;
    display: flex;
    
    &>span{
      flex: 1;
      color:red;
      text-indent: 250px;
    }
  }
}
.f-img{
  width: 80px;
  height: 80px;
  img{
    width: 100%;
    height: 100%;
  }
}