.qf-layout {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  .ant-layout {
    height: 100%;
  }
  .qf-sider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 150px;
    background: #001529;
    overflow: auto;
    &>img{
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin-left: 40px;
      margin-top: 20px;
    }
    &>div {
      text-align: center;
      line-height: 40px;
      cursor: pointer;
      border-bottom: 1px solid #aaa;
      &>a {
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
        color: white;
      }
      &>a.on {
        background: orange;
      }
    }
  }
  .qf-header {
    position: absolute;
    top: 0;
    height: 60px;
    left: 150px;
    right: 0;
    padding: 15px;
  }
  .qf-main {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 150px;
    right: 0;
    background-color: #eee;
    padding: 15px;
    min-width: 850px;
    &>div {
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      overflow: auto;
      background: white;
      padding: 15px;
      border-radius: 5px;
      padding-bottom: 100px;
      // height: 100%;
      min-width: 750px;
    }
  }
  .qf-add{
    form{
      margin-top: 30px;
    }
  }
}
