.qf-layout {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  .ant-layout {
    height: 100%;
  }
  .qf-sider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 150px;
    background: #001529;
    overflow: auto;
    &>.logo{
      text-align: center;
      width: 100%;
      height: 64px;
      padding: 16px 0;
      a{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          width: 32px;
          height: 32px;
          vertical-align: middle
        }
        h1{
          display: inline-block;
          color: white;
          font-size: 18px;
          line-height: 32px;
          margin: 0;
        }
      }
    }
    &>.ant-menu {
      text-align: center;
      line-height: 40px;
      cursor: pointer;
      border-bottom: 1px solid #aaa;
      &>a {
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
        color: white;
      }
      &>a.on {
        background: orange;
      }
    }
  }
  .qf-header {
    position: absolute;
    top: 0;
    height: 60px;
    left: 150px;
    right: 0;
    padding: 15px;
  }
  .qf-main {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 150px;
    right: 0;
    background-color: #eee;
    padding: 15px;
    &>div {
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      overflow: auto;
      background: white;
      padding: 15px;
      border-radius: 5px;
      padding-bottom: 40px;
      // height: 100%;
      min-width: 1050px;

      .tt-searchName {
        padding: 20px 0;
        font-weight: 900;
        .tt-foodText {
          line-height: 32px;
        }
      }

      .tt-foodTable {
        
          .ant-table-cell {
            text-align: center;
            font-weight: 900;
            box-sizing: border-box;
          }
          
        .ant-table-tbody{
          .ant-table-row{
            .ant-table-cell{
              height: 150px;
              font-weight: normal;
            }
          }
        }
      }
    }
  }
}
