.xxl-myself {
  background-color: red;
}

.xxl-myself .ant-tabs-nav {
  width: 200px;
  text-align: center;
}

.xxl-myself .ant-tabs-content-holder {
  min-width: 1000px;
}

.xxl-myself .left {
  background-color: #fff;
}

.xxl-myself .main {
  background-color: #fff;
}

.xxl-myself .xxl-basic {
  position: relative;
}

.xxl-myself .xxl-basic .upImg {
  position: absolute;
  top: 150;
  right: 500;
  text-align: center;
}

.xxl-myself .xxl-basic .upImg > img {
  display: block;
  width: 100px;
  margin-bottom: 10px;
}

.xxl-myself .xxl-basic .ant-row {
  margin: 10px 0;
}

.xxl-myself .xxl-basic .ant-row .ant-col {
  margin-bottom: 10px;
}
