.qf-login{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(20, 19, 19);
    &>div{
        position: absolute;
        top: 30%;
        left: 30%;
        width: 500px;
        box-sizing: border-box;
        padding: 25px;
        height: 250px;
        border-radius: 6px;
        background-color: white;
    }
}