<<<<<<< HEAD
.chat-box {
  width: 500px;
  padding: 30px;
  border: 1px solid #ccc;
  .row {
    line-height: 35px;
    img {
      display: inline-block;
      width: 100px;
      height: 20px;
    }
  }
}
=======
.qf-good-list {
    .gl-good {
      text-align: center;
      &>img {
        display: block;
        width: 80px;
        height: 80px;
        margin: 0 auto;
      }
    }
    .filter-label {
      display: block;
      text-align: right;
      padding-right: 10px;
    }
    .table-btn {
      &>a:last-child {
        color: blue;
        margin-left: 10px;
      }
    }
  }
  
>>>>>>> aayoupann
