#root {
    font-size: 14px;
    .qf-main {
        background: #f0f2f5;
        padding: 0;
        &>.d1 {
            position: absolute;
            left: 0;
            top: 0;
            background: #f0f2f5; 
            padding: 0;
            &>.d2{
                padding: 15px 0 0 15px;
                background-color: white;
                margin-bottom: 20px;
                padding-bottom:20px ;
            }
            .R1>div{
                margin-right: 10px;
                cursor: pointer;
                color: silver;
            }
            .R1 .on{
                color: black;
            }
            .R2{
                font-size: 25px;
                font-weight:bold ;
                margin: 10px 0;
            }
            &>form{
                margin-left: 20px;
                border-radius: 10px;
                padding: 40px 0 20px 15px;
                background-color: white
            }
        }
    }
}